@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");


/* chip css */

.chip-description {
    display: flex;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px 0px;
}

.chip-caption {
    flex: 0;
    white-space: nowrap;
    color: #777;
    font-family: Arial;
    /* max-width: 100px; */
    line-height: 30px;
    padding: 0;
    margin-right: 15px;
    
}

.chip {
    background-color: whitesmoke;
    color: #3871E0;
    padding: 6px 8px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial;
}

.chip:hover, .chip:focus, .chip:active {
    /* text-decoration: underline; */
    background-color: #eee;
    text-decoration: none;
}

.chip a {
    text-decoration: none;
}

/* */

.airline-logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: auto;
}

.arrival-board {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.arrival-board th, .arrival-board td {
    padding: 8px 12px;
    text-align: left;
}

.arrival-board .ontime, .departure-board .ontime {
    color:#09b309;
}

.arrival-board .delayed, .departure-board .delayed {
    color:#B30909;
}

.arrival-board .early, .departure-board .early {
    color:#0909b3;
}